@font-face {
    font-family: BubbleGum;
    src: url('../assets/font/Bubblegum.ttf');
}

#tgs-widget
{
    background-color:#ffffff;
    border:10px solid;
    border-radius:20px;
    border-color:#ffffff;
}

#tgs-widget .tgs-btn
{
    font-family: BubbleGum;
    font-size:1.3em;
    text-shadow: 2px 2px #4D4D4D;
    border:0px solid;
    border-radius:20px;
    color:#ffffff;
    background-color:#49D9E4;
}
